@model List<Company>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between justify-content-center align-item-center align-content-center">
    <div class="p-2">
        <h1 class="display-4">Dapper Project</h1>
    </div>
    <div class="p-2">
        <a class="btn-sm btn-primary" asp-action="addDummy">Insert Dummy Record</a>
        <a class="btn-sm btn-danger" asp-action="deleteDummy">Delete Dummy Record</a>
    </div>
</div>

<div>
    @foreach (var comp in Model)
    {
        <br />
        <div class="d-flex">
            <div class="p-2 flex-grow-1">
                <h3>@comp.Name</h3>
            </div>
        </div>
        <br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in comp.EmpList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

